@import "_variables";

#page-title{
    color: black;
    font-size: $font-size-big;
    font-weight: bold;

    margin-left: 20px;

    a{
        text-decoration: none;
        color: inherit;
        font-weight: inherit;
    }

    span{
        color: $color-brand-red;
        margin-right: 5px;
    }
}