$color-bone-white: #f2f2f2;
$color-brand-red: #E20B0B;
$color-brand-dark-red: #760000;
$color-brand-pink: #FFACAC;

$font-roboto: 'Roboto', sans-serif;

$font-size-big: 36px;
$font-size-big-mobile: 20px;
$font-size-enormous: 96px;
$font-size-enormous-mobile: 70px;
$font-size-normal: 18px;